* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* loader */
#loader {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 999;
  animation: fadeOut 2s ease forwards;
  animation-delay: 1.5s;
}

/* corner lights */
.corner {
  position: absolute;
  width: 220px;
  height: 220px;
  background: radial-gradient(white, transparent 70%);
  filter: blur(30px);
  opacity: 0;
  animation: glow 1.5s ease forwards;
}

.tl {
  top: 0;
  left: 0;
}
.tr {
  top: 0;
  right: 0;
}
.bl {
  bottom: 0;
  left: 0;
}
.br {
  bottom: 0;
  right: 0;
}

/* fade in */
@keyframes glow {
  from {
    opacity: 0;
    transform: scale(0.6);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

/* fade out*/
@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}

body {
  background: #000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", system-ui, sans-serif;
}

.container {
  position: relative;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.1); /* 微弱的白晕 */
  border-radius: 8px;
  overflow: hidden;
}

canvas {
  display: block;
  width: 800px;
  height: 600px;
  background: #000;
  cursor: none;
}

.info {
  position: absolute;
  bottom: 12px;
  right: 16px;
  color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  letter-spacing: 2px;
  pointer-events: none;
  z-index: 10;
  backdrop-filter: blur(2px);
  padding: 4px 10px;
  border-radius: 30px;
  background: rgba(30, 30, 30, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.info span {
  color: rgba(255, 255, 255, 0.5);
}
